{% extends "layout.html" %}
{% block content %}
    <h1> Specification 1 Page </h1>
    <body>
    In this challenge you are going to be exploring frequency analysis of large text files and producing a visual way
    of presenting your analysis results. Write a program that takes a large text file and perform a frequency analysis
    of the characters and words in that file. You should then present your findings visually using the python 2D graph
    plotting library, Matplotlib.
    </body>
{% endblock content %}