{% extends "layout.html" %}
{% block content %}
    <h1> Specification 4 </h1>
    <body>
    <h3>Overview</h3>
    <p>
In this challenge it is up to you to choose a Python library that hasn't been mentioned before in the previous
challenges and develop a software artefact around that library. The software artefact should make use of some of the
skills you have learned so far in CSC1031, CSC1032, CSC1033, and CSC1034 so that it clearly displays your programming
and theoretical abilities. This challenge has complete creative freedom. Meaning, you can build anything you like as
long as it doesn't make use of an aforementioned library in the previous challenges.
    </p>
    <h3>Content</h3>
    <p>(Insert specification 4 here)</p>
    </body>
{% endblock content %}