{% extends "layout.html" %}
{% block content %}
    <h1> Specification 4 </h1>
    <body>
In this challenge you are going to build a web application using a Python-based web framework. Flask is a common web
framework that is easy to setup and allows extensibility. You are going to build a simple web application that presents
the code written in the previous challenge specifications. The purpose of the webpages is to present the code neatly
with some brief documentation explaining the purpose of the code. What you do here is entirely experimental and open for
creativity, therefore you can make use of any external libraries for the presentation of your code. However, be sure not
to 'feature creep'. This challenge is about your ability to investigate a Python web framework library and its
applications rather than your HTML, CSS, and JavaScript abilities. I suggest looking through my guide on creating a
simple web application that uses HTML templates. Do not host your web application on a public server.
    </body>
{% endblock content %}