{% extends "layout.html" %}
{% block content %}
    <h1> Specification 1 </h1>
    <body>
    <h3>Overview</h3>
    <p>
    In this challenge you are going to be exploring frequency analysis of large text files and producing a visual way
    of presenting your analysis results. Write a program that takes a large text file and perform a frequency analysis
    of the characters and words in that file. You should then present your findings visually using the python 2D graph
    plotting library, Matplotlib.
    </p>
    <h3>Content</h3>
     <p>(Insert specification 1 code here)</p>
    </body>
{% endblock content %}